.container {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  overflow: hidden;
}
table {
  width: 100%;
  border-radius: 5px;
}
thead tr {
  border-radius: 5px;
  padding: 0px;
  color: #655bce;
}
tr th {
  margin-left: 0px;
  border-radius: 5px;
}
td {
  text-align: center;
}
.div-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 24px;
}

.hr-infinity {
  margin-top: -15px;
  width: 100%;
  border: 1px solid #655bce;
}
h1 {
  color: #655bce;
}

a {
  text-decoration: none;
  color: #7e7d68;
}

.button-edit {
  color: #655bce;
}
.button-delete {
  color: #bb5bce;
}

.campo-busca {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #655bce;
  margin-top: 10px;
  margin-bottom: 5px;
}
.input-search {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
