<div class="container">
  <app-navbar> </app-navbar>
  <div class="div-column">
    <h1>Alunos</h1>
    <hr class="hr-infinity" />
    <div class="input-search">
      <input
        #campoBusca
        class="campo-busca"
        type="search"
        placeholder="busca..."
      />
    </div>
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Data de Nascimento</th>
          <th>Ações</th>
          <th>
            <button mat-button (click)="handleModal()">
              <mat-icon> add </mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oStudent of aStudent">
          <td>{{ oStudent.id }}</td>
          <td>{{ oStudent.name }}</td>
          <td>{{ oStudent.email }}</td>
          <td>{{ oStudent.birthday }}</td>
          <td>
            <button
              mat-button
              (click)="handleModal(oStudent)"
              class="button-edit"
            >
              <mat-icon> edit </mat-icon>
            </button>
            <button
              mat-button
              class="button-delete"
              (click)="handleDelete(oStudent)"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
