<mat-drawer-container class="example-container">
  <mat-drawer class="example-sidenav" mode="side" opened>
    <a routerLink="home">
      <mat-icon> home </mat-icon>
      Home
    </a>
    <a routerLink="aluno">
      <mat-icon> account_box </mat-icon>
      Alunos
    </a>
    <a routerLink="curso">
      <mat-icon> book </mat-icon>
      Cursos
    </a>
    <a routerLink="matricula">
      <mat-icon>article</mat-icon>
      Matrículas
    </a>
    <a routerLink="logout">
      <mat-icon>logout</mat-icon>
      Logout
    </a>
  </mat-drawer>
</mat-drawer-container>
