<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <span>
    {{ enrollment ? "Editar" : "Criar" }}
    Matrícula
  </span>

  <button mat-button mat-icon-button (click)="handleClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<form
  class="container"
  fxLayoutAlign="space-between center"
  fxLayout="row"
  [formGroup]="form"
  (submit)="handleSubmit()"
>
  <mat-form-field appearance="fill" fxFlex="45%">
    <mat-label> Registro do Aluno (RA) </mat-label>

    <input #studentInput matInput required formControlName="student_id" />

    <mat-icon matPrefix>account_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill" fxFlex="45%">
    <mat-label> Curso </mat-label>

    <mat-select formControlName="course_id">
      <mat-option *ngFor="let oCourse of aCourse" [value]="oCourse.id">
        {{ oCourse.title }}
      </mat-option>
    </mat-select>

    <mat-icon matPrefix>course</mat-icon>
  </mat-form-field>
</form>

<div
  class="footer"
  fxLayout="row"
  fxLayoutAlign="flex-end center"
  fxLayoutGap="10px"
>
  <button mat-button (click)="handleClose()">Cancelar</button>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
  >
    {{ enrollment ? "Editar" : "Criar" }}
  </button>
</div>
