.login-container {
  background-image: url("https://wallpaperaccess.com/full/4107299.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
.login-card {
  display: flex;
  width: 600;
  height: 600;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.card {
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.card-input {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  font-size: 1.5em;
}

.input-login {
  border-radius: 5px;
  border: 0px;
  background-color: gray;
  width: 400px;
  height: 30px;
  font-size: 1.5em;
  color: white;
}
.img-finnet {
  margin-top: -130px;
  margin-bottom: 10px;
}

.input-button {
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  background-color: #655bce;
  width: 400px;
  height: 40px;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}
