<div class="login-container">
  <div class="login-card">
    <div class="card">
      <img
        src="https://fastweb.finnet.com.br/img/fast-web-meta-open-graph.jpg"
        alt=""
        class="img-finnet"
        width="400"
        height="300"
      />
      <div class="card-input">
        <label for="email"> Insira seu email </label>
        <input type="text" class="input-login" id="email" name="email" />
      </div>
      <div class="card-input">
        <label for="email"> Insira sua senha </label>
        <input type="text" class="input-login" id="email" name="password" />
        <button routerLink="/home" class="input-button">Login</button>
      </div>
    </div>
  </div>
</div>
