<div class="container">
  <app-navbar> </app-navbar>
  <div class="div-column">
    <h1>Cursos</h1>
    <hr class="hr-infinity" />
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Ações</th>
          <th>
            <button mat-button (click)="handleModal()">
              <mat-icon> add </mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oCourse of aCourse">
          <td>{{ oCourse.id }}</td>
          <td>{{ oCourse.title }}</td>
          <td>{{ oCourse.description }}</td>
          <td>
            <button
              mat-button
              (click)="handleModal(oCourse)"
              class="button-edit"
            >
              <mat-icon> edit </mat-icon>
            </button>
            <button
              mat-button
              class="button-delete"
              (click)="handleDelete(oCourse)"
            >
              <mat-icon> delete </mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
